
.Header {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.Cards {
    width: 680px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.Cards div {
    margin-right:1px;
    margin-bottom: 5.5px;
}
.Cards img {
    height: 100px;
}
.flexGame div::after {
    transform: rotateY(180deg);
}
.flexGame div {
    transition: all 1s ease;
}
.Game {
    display: contents;

}
.flexGame {
    width: 660px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.redPoint {
    color:red
}
.greenPoint {
    color:green;
}
